.Address {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  text-align: center;
  align-items: center;
  .Address_text {
    font-size: 1rem;
  }
  .Address_input {
    display: flex;
    margin: 0;
    column-gap: 1rem;
    .AddressInput {
      border: 1px solid black;
      border-radius: 0.2rem;
      height: 2.5rem;
      width: 10rem;
    }
    .AptoInput {
      border: 1px solid black;
      border-radius: 0.2rem;
      height: 2.5rem;
      width: 6rem;
    }
    input {
      &::placeholder {
        padding: 2rem;
        text-align: left;
        font-size: 0.8rem;
      }
    }
  }
  .Address_text {
    min-width: 251px;
  }
  .Address_button {
    button {
      margin-top: 1rem;
      color: white;
      width: 8rem;
      height: 2.2rem;
      border-radius: 0.3rem;
      border: 1px solid rgb(3, 70, 164);
      font-size: 0.6rem;
      background-color: rgb(3, 70, 164);
    }
  }
  @media (min-width: 920px) {
    .Address_text {
      font-size: 2rem;
    }
    .Address_input {
      .AddressInput {
        border: 1px solid black;
        border-radius: 0.2rem;
        height: 2.5rem;
        width: 20rem;
      }
      input::placeholder {
        font-size: 1rem;
      }
    }
  }
}
