.Presentation {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  text-align: center;
  align-items: center;
  .Presentation_title {
    color: rgb(3, 70, 164);
    font-size: 1.6rem;
  }
  .Presentation_text {
    min-width: 251px;
  }

  @media (min-width: 1280px) {
    .Presentation_text {
      font-size: 1.5rem;
    }
  }
}
